body{
    padding: 0;
    margin: 0;
}
html{
    scroll-behavior: smooth;
}
button{
    transition: all 0.2s ease-in-out;
}
nav{
    background-color: #000;
    padding: 20px 50px;
    color: #fff;
}

/* nav part */
.navTop{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.search{
    display: flex;
    align-items: center;
    background-color: gray;
    padding: 10px 20px;
    border-radius: 10px;
}
.searchInput{
    border: none;
    background-color: transparent;
    padding: 5px;
}
.searchInput::placeholder{
    color: lightgray;
}
.searchInput:focus{
    outline: none;
    border: none;
}
.limtiedoffer{
    font-size: 20px;
    border-bottom: 2px solid green;
    cursor: pointer;
}
.navbottom{
    display: flex;
    align-items: center;
    justify-content: center;
}
.menurbar{
    margin-right: 50px;
    cursor: pointer;
    color: lightgray;
    font-weight: 400;
}
.slider{
background-image: url(imgs/istockphoto-915097804-612x612.jpg);
clip-path: polygon(0 0,100% 0,100% 100%,0 85%);
overflow: hidden;
}
.sliderwrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 500vw;
    transition: 1.5s all ease-in-out;
}
.sliderItem{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.slidtitle{
    position: absolute;
    top: 10%;
    right: 10%;
    font-size: 60px;
    font-weight: 900;
    text-align: center;
    color: #fff;
}
.sliderImg{
    z-index: 1;
}
.sliderprice{
    position: absolute;
    top: 10%;
    left: 10%;
    font-size: 60px;
    font-weight: 300;
    text-align: center;
    color: #fff;
    z-index: 1;
}
.sliderbg{
    width: 750px;
    height: 750px;
    border-radius: 50%;
    position: absolute;
}
.butnw{
    position: absolute;
    top: 50%;
    right: 10%;
    font-size: 30px;
    font-weight: 900;
    color: #fff;
    border: 1px solid gray;
    background-color: #000;
    text-align: center;
    color: #fff;
    cursor: pointer;
    z-index: 1;
}
.butnw:hover{
    background-color: #fff;
    color: #000;
}
.sliderItem:nth-child(1) .sliderbg{
    background-color: #369e62;
}
.sliderItem:nth-child(2) .sliderbg{
    background-color: rebeccapurple;
}
.sliderItem:nth-child(3) .sliderbg{
    background-color: teal;
}
.sliderItem:nth-child(4) .sliderbg{
    background-color: cornflowerblue;
}
.sliderItem:nth-child(5) .sliderbg{
    background-color: rgb(125, 115, 80);
}
.sliderItem:nth-child(1) .sliderprice{
   color: #369e62;
}
.sliderItem:nth-child(2) .sliderprice{
    color: rebeccapurple;
}
.sliderItem:nth-child(3) .sliderprice{
    color: teal;
}
.sliderItem:nth-child(4) .sliderprice{
    color: cornflowerblue;
}
.sliderItem:nth-child(5) .sliderprice{
    color: rgb(125, 115, 80);
    transform: translateX();
}

/* end of nav part */
.features{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}
.feature{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
.feautreicon{
    width: 50px;
    height: 50px;
}
.featuretitle{
    font-size: 20px;
    font-weight: 600;
    margin: 20px;
}
.featuredesc{
    color: gray;
    width: 50%;
    height: 100px;
}

/* featurs part */

/* products */ 
.product{
    background-color: whitesmoke;
    position: relative;
    clip-path: polygon(0 15%,100% 0%,100% 100%,0% 100%);
}
.productimg{
    width: 50%;
}
.productdetail{
    position: absolute;
    top: 10%;
    right: 0;
    width: 40%;
    padding: 50px;
}


.producttitle{
    font-size: 75px;
    font-weight: 900;
}

.productdesc{
font-size: 24px;
color: gray;
}


.colors , .sizes{
    display: flex;
    margin-bottom: 20px;
}

.color{
    width: 32px;
    height: 32px;
    border-radius: 5px;
    background-color: black;
    margin-right: 10px;
    cursor: pointer;
}

.color:last-child{
    background-color: darkblue;
}


.size{
    padding: 5px 20px;
    border: 1px solid black;
    margin-right: 10px;
    cursor: pointer;
    font-size: 20px;
}


.productbtn{
    float: right;
    padding: 10px 20px;
    background-color: black;
    color: white;
    font-weight: 600;
    cursor: pointer;
}
.productbtn:hover{
    background-color: white;
    color: black;
}
/* end of products */ 

/* payment */ 
.payment{
    width: 500px;
    height: 500px;
    background-color: white;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    padding: 10px 50px;
    display: none;
    flex-direction: column;
    box-shadow: 0 0 27px -3px rgba(0,0,0,0.87);
    transition: all 0.5s ease-in-out;
}
.paytitle{
    font-size: 20px;
    color: lightgray;
}

label{
    font-size: 14px;
    font-weight: 300;
}
.payinput{
    padding: 10px;
    margin: 10px 0px;
    border: none;
    border-bottom: 1px solid gray;
}
.payinput::placeholder{
    color: lightgray;
}

.payinput:focus{
    outline: none;
}
.cardicons{
    display: flex;
}
.cardinfo{
    display: flex;
    justify-content: space-between;
    position: relative;
}
.sm{
    width: 30%;
}
.paybtns{
    position: absolute;
    height: 40px;
    bottom: -40px;
    left: 0;
    width: 100%;
    background-color: #369e62;
    color: white;
    border: none;
    cursor: pointer;
    box-shadow: 0 0 27px -3px rgba(0,0,0,0.87);
}
.close{
    width: 20px;
    height: 20px;
    position: absolute;
    background-color: gray;
    color: white;
    top: 10px;
    right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    text-align: center;
    padding: 3px;
}

/* end of payment part */ 

/* gallery */ 

.gallery{
    padding: 50px;
    display: flex;
}
.galleryItem{
    flex: 1;
    padding: 50px;
}
.galleryImg{
    width: 100%;
}
.newSeason{
display: flex;
}
.nsItem{
    flex: 1;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.nsImg{
    width: 100%;
    height: 500px;
}

.nsTitle{
    font-size:40px ;
}

.nsButton{
    padding: 15px;
    font-weight: 600;
    cursor: pointer;
}

/* end of gallery */ 

/* footer */ 

footer{
    display: flex;
}

.footerleft{
    display: flex;
    flex: 2;
    justify-content: space-between;
    padding: 50px;
}
.footerright{
    flex: 1;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.menuelist{
    padding: 0;
    list-style: none;
}
.flistitem{
    margin-bottom: 10px;
    color: gray;
    cursor: pointer;
}
.fmenuetitle{
    font-size: 16px;
   color: gray;
}
.finput{
    padding: 5px;
    border: none;
    border-bottom: 1px #369e62 solid;
    margin-right: 5px;
}
.finput:focus{
    outline: none;
}
.fbtn{
    padding: 5px;
    background-color: black;
    color: white;
}
.ficons{
    display: flex;
}

.ficon{
    width: 20px;
    height: 20px;
    margin-right: 10px;
    margin-bottom: 20px;
}
.copyright{
    font-weight: 300;
    font-size: 14px;
    color: gray;

}